Repository NVIDIA-Merlin/Transformers4Rec, pull requests merged in 2022-08, with the labels that each got.

#467 fix tutorial ETL pipeline
  examples/end-to-end-session-based/01-ETL-with-NVTabular.ipynb
  examples/tutorial/02-ETL-with-NVTabular.ipynb
  examples/tutorial/04-Inference-with-Triton.ipynb
Labels: enhancement, area/examples

#468 Fix sparse_max dict in the export_pytorch_ensemble() func
  examples/tutorial/03-Session-based-recsys.ipynb
  examples/tutorial/04-Inference-with-Triton.ipynb
Labels: enhancement, area/examples

#469 Make the model traceable with Torchscript
  tests/torch/model/test_head.py
  tests/torch/test_torchscript.py
  transformers4rec/torch/model/prediction_task.py
  transformers4rec/torch/tabular/base.py
Labels: enhancement, area/inference, area/pytorch

#471 Update getting started ETL notebook to generate schema file from nvt and training nb to read the schema file
  examples/getting-started-session-based/01-ETL-with-NVTabular.ipynb
  examples/getting-started-session-based/02-session-based-XLNet-with-PyT.ipynb
Labels: enhancement, area/examples, P0

#472 Update `versioneer` from 0.20 to 0.23
  transformers4rec/_version.py
  versioneer.py
Labels: chore

#474 Remove mention of TensorFlow
  README.md
  docs/source/api/transformers4rec.rst
  docs/source/api/transformers4rec.tf.block.rst
  docs/source/api/transformers4rec.tf.features.rst
  docs/source/api/transformers4rec.tf.layers.rst
  docs/source/api/transformers4rec.tf.model.rst
  docs/source/api/transformers4rec.tf.rst
  docs/source/api/transformers4rec.tf.tabular.rst
  docs/source/api/transformers4rec.tf.utils.rst
  docs/source/conf.py
  docs/source/images.md
  docs/source/model_definition.md
  docs/source/pipeline.md
  docs/source/toc.yaml
  docs/source/why_transformers4rec.md
  examples/end-to-end-session-based/03-End-to-end-session-based-with-Yoochoose-TF.ipynb
  examples/end-to-end-session-based/README.md
  examples/getting-started-session-based/03-session-based-XLNet-with-TF.ipynb
  examples/getting-started-session-based/README.md
  merlin_standard_lib/proto/schema_bp.py
  transformers4rec/torch/losses.py
  transformers4rec/torch/utils/torch_utils.py
Labels: documentation, status/needs-review

#481 Update processing csv file text in tutorial nb
  examples/t4rec_paper_experiments/README.md
  examples/tutorial/01-preprocess.ipynb
  examples/tutorial/02-ETL-with-NVTabular.ipynb
  transformers4rec/config/trainer.py
  transformers4rec/torch/features/sequence.py
  transformers4rec/torch/trainer.py
  transformers4rec/torch/utils/torch_utils.py
Labels: area/examples, chore

#479 Second pass for removing mention of TensorFlow
  conda/recipe/meta.yaml
  docs/source/index.rst
  docs/source/model_definition.md
  docs/source/training_eval.md
  examples/README.md
  examples/end-to-end-session-based/01-ETL-with-NVTabular.ipynb
  examples/getting-started-session-based/02-session-based-XLNet-with-PyT.ipynb
  examples/t4rec_paper_experiments/README.md
  transformers4rec/torch/trainer.py
Labels: documentation
